RewriteEngine On

# Si la solicitud no es para un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
# Si la solicitud no es para un directorio existente  
RewriteCond %{REQUEST_FILENAME} !-d
# Redirigir todo a public/index.php
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]